// Global Colors
$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

// Light Theme
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

// Dark Theme
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue2: hsl(234, 39%, 85%);
$lightGrayishBlue3: hsl(236, 33%, 92%);
$darkGrayishBlue2: hsl(234, 11%, 52%);
$veryDarkGrayishBlue2: hsl(233, 14%, 35%);
$veryDarkGrayishBlue3: hsl(237, 14%, 26%);

// Images
$moon: url('../images/icon-moon.svg');
$sun: url('../images/icon-sun.svg');
$bgMobileDark: url('../images/bg-mobile-dark.jpg');
$bgMobileLight: url('../images/bg-mobile-light.jpg');
$bgDesktopDark: url('../images/bg-desktop-dark.jpg');
$bgDesktopLight: url('../images/bg-desktop-light.jpg');

// Font Size
$fontSmall: 0.95rem;
$fontMedium: 1.05rem;
$fontLarge: 1.125rem;

